{% extends 'base.html.twig' %}

{% block title %}New User - BiblioConnect{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="h3 mb-0">Create New User</h1>
            <a href="{{ path('app_user_index') }}" class="btn btn-outline-secondary">Back to list</a>
        </div>
        <div class="card-body">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
